.wrap h1 {
    margin-bottom: 20px;
}

.nav-tab-wrapper {
    margin-bottom: 20px;
}

.bms_options h2 {
    margin-bottom: 2em;
}

.bms_options .form-table {
    max-width: 100%;
    width: fit-content;
}

.bms_options .bms_services_list {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 2em;
}

.bms_options .form-table th {
    padding: 15px 10px;
}

.bms_options thead {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
}

.widefat {
    width: 100%; /* Make the table take full width */
    border-collapse: collapse; /* Collapse borders for cleaner look */
}

.widefat th, .widefat td {
    padding: 10px; /* Add some padding */
    text-align: left; /* Align text to the left */
    min-width: 150px; /* Minimum width for each column */
}

@media (max-width: 768px) {
    .widefat th, .widefat td {
        min-width: 120px; /* Adjust minimum width for smaller screens */
    }
}
