.book-my-service-login-signup {
    display: flex;
    justify-content: space-between;
}

.book-my-service-login-signup div {
    width: 45%;
}

.bms_booking_wrapper {
    border: 1px solid;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
}

.login-signup-switch  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-signup-switch span {
    padding: 0.5em 1em;
    border: 1px solid;
}

.login-signup-switch span.active {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.bms_booking_wrapper form label {
    display: block;
}

.bms_booking_wrapper form input,
.bms_booking_wrapper form select,
.bms_booking_wrapper form textarea {
    width: 100%;
    max-width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background-color: inherit;
    border: 1px solid;
}

.bms_booking_wrapper .nice-select {
    width: 100%;
    margin-bottom: 2em;
    border-radius: 0;
    border: 1px solid;
    background: initial;
}
.bms_booking_wrapper .nice-select .list {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid;
    border-radius: 0;
}

.bms_booking_wrapper .nice-select .option.focus,
.bms_booking_wrapper .nice-select .option.selected.focus,
.bms_booking_wrapper .nice-select .option:hover {
    background-color: #f9f9f9;
}